.header{
	display: flex;
	height: 66px;
	top: 0;
	margin: 0;
	border-bottom: 1px solid rgb(0, 0, 0);
	background: rgb(46, 38, 71);
}
.nama{
	flex: 1;
}
.nama ul{
	display: flex;
	list-style-type: none;
	float: left;
}
.nama li{
	font-size: 20px;
	font-weight: bold;
	margin-left: 15px;
}
.nama a{
	text-decoration: none;
	color: rgb(255, 250, 250);
}
.menu{
	flex: 1;
}
.menu ul{
	display: flex;
	list-style-type: none;
	float: right;
}
.menu li{
	font-size: 20px;
	margin-right: 40px;

}
.menu a{
	text-decoration: none;
	color: rgb(255, 255, 255);
}

main {
	width:100%;
	background:rgb(252, 255, 253);
}

.content {
	float:left;
	width:66%;
	background:rgba(138, 172, 235, 0.753);
	padding:2%; 
	height:500px;

}
.content p{
	font-size: 20px;
}
.sidebar {
	float:right;
	width:25.8%;
	background:rgb(207, 223, 229);
	padding:2%;
	height: 500px;
	z-index: 2;
	border-left: 2px solid rgb(21, 20, 20);
	/* position: absolute; */
}
.article{
	border: 1px solid;
	margin: 1%;
	padding: 1%;
	width: 300px; 
	height:460px; 

}
.img{
	height:60%;
	width: 100%; 
	border-radius: 2% ; 
}
section{
	border: 1px solid;
	background-color: black;
	text-align: center;
	color: white;
	margin: auto;
	padding: 10px;
}

footer{
	position: absolute;
	bottom: 0;
	width: 99%;
	padding-top: 2.5vh;
	padding-bottom: 2.5vh;
	text-align: center;
	background-color:rgb(46, 38, 71);
}
footer i{
	color: #ffffff;
}
